force-app/main/default/flows/userLanTest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>chatterUsrEng</name>
        <label>chatterUsrEng</label>
        <locationX>248</locationX>
        <locationY>392</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>EngVer</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>userTest</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>test02</name>
        <label>test</label>
        <locationX>431</locationX>
        <locationY>214</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>chatteruse</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>userTest</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>userLan</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ja</stringValue>
        </value>
    </constants>
    <decisions>
        <name>test</name>
        <label>test</label>
        <locationX>239</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>chatterUsrEng</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isJa</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>g_Language</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>userLan</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>test02</targetReference>
            </connector>
            <label>isJa</label>
        </rules>
    </decisions>
    <interviewLabel>userLanTest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>userLanTest</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>userLanguageGet</name>
        <label>userLanguageGet</label>
        <locationX>247</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>test</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>userTest</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>g_Language</assignToReference>
            <field>LanguageLocaleKey</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>userLanguageGet</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>chatteruse</name>
        <text>{!userTest}様
取引責任者が一つ作成された</text>
    </textTemplates>
    <textTemplates>
        <name>EngVer</name>
        <text>{!userTest}sann
you create a contact.</text>
    </textTemplates>
    <variables>
        <name>g_Language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userTest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
